@import './utilities/variables';
@import './components/card';
@import './components/modal';
@import './layout/forms';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
  background-color: rgba($dark, 0.06);
}

.App {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 1rem auto;

  .filters {
    width: 30%;
    background: $white;
    padding: 0 1rem;
    border-radius: 0.4rem;
    border: 1px solid rgb($dark, 0.1);
    box-shadow: 0 0 2px 1px rgb($dark, 0.05);
  }

  .cards {
    width: 70%;
    margin-left: 1rem;
  }
}