.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($dark, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    .modal-content {
        width: 500px;
        background-color: $white;
        border-radius: 0.4rem;
    }

    .modal-header, .modal-footer {
        padding: 10px;
    }

    .modal-title {
        margin: 0;
    }

    .modal-body {
        padding: 10px;
        border-top: 1px solid rgba($dark, 0.1);
        border-bottom: 1px solid rgba($dark, 0.1);
    }

    &.modal-animation {
        opacity: 1;
        pointer-events: visible;
    }

    .modal-footer .btn {
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;
        background-color: $coral;
        border: none;
        color: $white;
        cursor: pointer;
        
        &:hover {
            background-color: rgba($coral, 0.8);
        }
    }
}